.aside-menu-container {
    /* background-color: #0284c7; */
    color: #ffffff;
    top: 80px;
}

.aside-menu-container a {
    transition: background-color 0.2s ease-in-out;
}

.aside-menu-container a:hover {
    background-color: #516607;
}